:root {
    --size_square_0: 60px;
    --size_square_1: 40px;
    --size_square_2: 28px;
}
@font-face {
    font-family: 'Digital-clock';
    src: url(../font/digital-7.ttf);
}
.game-gui {
    align-items: flex-start;
    align-self: center;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
div label {
    display: flex;
    align-items: center;
    justify-content: center;
}
.board {
    *border: 1px solid black;
    display: grid;
    column-gap: 2px;
    justify-content: center;
    row-gap: 2px;
}

.board-0 {
    grid-template-columns: repeat(10,var(--size_square_0));
}
.board-1 {
    grid-template-columns: repeat(16,var(--size_square_1));
}
.board-2 {
    grid-template-columns: repeat(22,var(--size_square_2));
}

.square-0, .square-1, .square-2 {
    align-items: center;
    display: flex;
    justify-content: center;
}

.square-0 {
    height: var(--size_square_0);
    width: var(--size_square_0);
    font-size: 24px;
}
.square-1 {
    height: var(--size_square_1);
    width: var(--size_square_1);
    font-size: 20px;
}
.square-2 {
    height: var(--size_square_2);
    width: var(--size_square_2);
    font-size: 16px;
}

.sq {
    background-color: rgba(200, 200, 200, 0.5);
}
.sq:hover {
    background-color: rgba(175, 175, 175, 0.5);
}

.sq-1 {
    background-color: rgba(200, 200, 200, 0.5);
    background-position: center;
    background-size: 100%;
}

.sq0 {
    background-color: rgba(100, 100, 100, 0.5);
}

.sq1 {
    background-color: hsla(212, 100%, 50%, 0.5);
}

.sq2 {
    background-color: rgba(0, 255, 42, 0.5);
}

.sq3 {
    background-color: rgba(255, 255, 0, 0.5);
}

.sq4 {
    background-color: rgba(255, 192, 203, 0.5);
}

.sq5 {
    background-color: rgba(255, 145, 0, 0.5);
}

.sq6 {
    background-color: rgba(128, 0, 128);
    color: white;
}

.sq7 {
    background-color: rgba(0, 4, 255);
    color: white;
}

.sq8 {
    background-color: rgb(0, 0, 0);
    color: white;
}

.sq, .sq1, .sq2, .sq3,.sq4, .sq5, .sq6, .sq7, .sq8:hover {
    cursor: pointer;
}

.endgame-screen {
    align-items: center;
    background-color: rgba(175, 175, 175, 0.20);
    display: flex;
    height: 76vh;
    justify-content: center;
    margin: 12vh 0;
    position: absolute;
    width: 100%;
}

.message {
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    height: 200px;
    justify-content: center;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 50%;
}

.message h3 {
    font-size: 1.5rem;
}

.message button {
    height: 30px;
    width: 80px;
}

.win {
    background-color: rgba(172, 255, 47, 0.5);
    border: 2px solid green;
}

.win:hover {
    background-color: rgb(180, 255, 100);
}

.lose {
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px solid red;
}

.lose:hover {
    background-color: rgb(255, 150, 150);
}

.display, .temporizer {
    background-color: rgb(58, 58, 58);
    border: 4px solid black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    width: 150px;
    height: 90px;
    display: grid;
    text-align: right;
    color: red;
    font-family: 'Digital-clock';
    font-size: 80px;
}

.temporizer {
    align-items: center;
    font-size: 40px;
    justify-content: center;
}

.flag {
    background-image: url(../img/icons/flag.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.question-mark {
    background-image: url(../img/icons/question_mark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explosion {
    background-position: center;
    background-size: 100%;
}

.clue {
    animation: clue 1s infinite;
}

.hidden {
    display: none;
}

@keyframes clue {
    0% {
        filter: brightness(1);
    }
    25% {
        filter: brightness(1.15);
    }
    50% {
        filter: brightness(1);
    }
    75% {
        filter: brightness(1.15);
    }
}

@keyframes detonateBomb {
    from {
        background-size: 0%; 
        background-color: rgba(200, 200, 200, 0.5);
    }
    to {
        background-color: rgba(255, 0, 0, 0.5);
        background-image: url(../img/icons/explosion.png); 
        background-position: center;
        background-repeat: no-repeat;
    }
}

@keyframes showMessage {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}